.footer{
    background-color: #1D1D1E;
}
.footer-sub-div{
    align-items: center;
    margin: auto;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.first-section{
    margin-top: 2rem;
    width: 9rem;
    justify-content: space-between;
}
.first-section div:nth-child(2){
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;
}
.footer p {
    color: white;
    font-size: 12px;
}
.footer li {
    color: #94959a;
    font-size: 10px;
    padding: 0.25rem 0rem;
}
