.header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.connect-btn input {
    border-radius: 8px;
    color: white;
    border: hidden;
    padding: 0.5rem 1rem;
}

.logo{
    border: solid;
}

