.w-90 {
  width: 90%;
  margin: auto;
}
img {
  max-width: 100%;
  height: auto;
}
.theme-color-bg {
  background-color: #A02279;
  color: white;
}
.flex-container-row{
  display: flex;
}

.flex-container-col{
  display: flex;
  flex-direction: column;
}